@model MVCFirstDatabase.Models.RegistroSalida

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegistroSalida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCalculado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCalculado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkCarroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCarroNavigation.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkClienteNavigation.NoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkParqueoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkParqueoNavigation.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkTarifaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkTarifaNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
