@model IEnumerable<MVCFirstDatabase.Models.RegistroSalida>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoraIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCalculado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkCarroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkParqueoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkTarifaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoraIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCalculado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCarroNavigation.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkClienteNavigation.NoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkParqueoNavigation.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTarifaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
